.or-part {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.or-part p {
    margin: 0 15px;
}

.hr-line {
    width: 22%;
    color: green;
    height: 1px;
}